/*************Grid css***************/

/*Estilos a las etiquetas*/

body,
htm {
  margin: o;
  padding: o;
  font-family: Arial, Helvetica, sans-serif;
}

/*selectores de clase*/
.container {
  /*dimensiones*/
  max-width: 980px;
  padding: 0;
  margin: 0 auto; 
    /*predisponemos al padre a las grillas*/
    display: grid;
    /*cantidad de columnas y dimensiones*/
    grid-template-columns: repeat(6, 1fr);
    /*dividimos en filas*/
    grid-template-rows: 10vh 75vh 10vh;
    /*dimensiones de las calles o gap*/
    gap: 10px; /*v_h v_v*/
}
 
  .main {
    /*predisponemos a main a grillas*/
    display: grid;
    margin: 0 auto;
    /*division en columnas*/
    grid-template-columns: repeat(6, 1fr);
    /*cuantas columnas ocupa el pade?*/
    grid-column-start: 1; /*el numero corresponde al gap*/
    grid-column-end: -1;
    /*valor del gap*/
    gap: 10px;
  }
  aside {
    /*cuantas columnas del padre va a ocupar*/
    grid-column-start: 1;
    grid-column-end: 3; /*el numero corresponde al que limita la columna*/
    background-color: aqua;
    padding: 10px;
  }
  /*Estilos del contenido de aside*/
  .aside h2 {
    font-size: 1.5rem;
  }
  .aside ul li a {
    text-decoration: none;
    color: #0055aa;
  }
  .aside ul li a:hover {
    text-decoration: underline;
  }
  .section {
    /*cuantas columnas del padre va a ocupar section?*/
    grid-column-start: 3;
    grid-column-end: 7; /*el numero corresponde al que limita la columna*/
    background-color: lightblue;
    padding: 10px;
  }
  /*HEADER/FOOTER*/
  .nav,
  .nav ul {
    /*predisponemos a los padres a comportamiento de grillas*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    /*cuantas columnas ocupamos*/
    grid-column-start: 1;
    grid-column-end: -1;
    /*valor de los vacios o gap*/
    gap: 10px;
    /*geometria*/
    padding: 0;
    margin: 0;
    background-color: #333;
  }
  .nav,.nav ul li a {
    color: beige;
    text-decoration: none;
  }
  .nav ul li {
    list-style: none;
    /*predisponemos a li comportamiento flexible*/
    display: flex;
    margin: 0;
    padding: 0;
    /*alineamientos*/
    align-items: center;
    justify-content: center;
  }

  
/*pseudoselector: nth-child()*/
.footer ul li:nth-child(1){
grid-column: 2;
}
.header ul li:nth-child(1){
grid-column: 4;
}
/*MENU DESPLAGABLE*/
.header ul li .dropdown-content{
    /*Personalizamos la posicion de drop...*/
    position:absolute;

    /*ubicamos la caja drop*/
    top: 10vh;
    right:0;

    /*Ubicamos el contenido de drop en columna*/
    display:flex;
    flex-direction:column;

    /*predisponemos a drop a una transicion*/
    transition:all 0.5s;
    opacity:0;
}
.header ul{
    position:relative;
}
.header ul li:hover .dropdown-content{
    opacity:1;
}
/*estilos al menu desplegable*/
.header ul li .dropdown-content li{
    padding:20px 40px;
    transition: 0.3s;

}
.header ul li .dropdown-content li:hover{
   background-color: #575757;

}